
hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: black;
}

.imagensModal2 {
    
}

.container {
    width: 100rem;
}

.modal-dialog {
    position: relative;
    display: table;
}

.imagens {
    height: 240px;
    width: 400px;
    object-fit: cover;
}

#content {
    width: 100%;
}

#filme, #multimedia, #reviews, #personagens{
    display:none;
}

#listaPersonagens {
    height: 500px;
    overflow-y: auto;
}
