

.container {
    width: 100rem;
}

.modal-dialog {
    position: relative;
    display: table;
}

.imagens {
    height: 240px;
    width: 400px;
    object-fit: cover;
}

#content {
    width: 100%;
}

#filme, #multimedia, #reviews{
    display:none;
}


